.is-dark {
  background-color: rgb(187, 56, 89);
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/img/roots-background.jpg');
}
.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-item .button{
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
}

.navbar-logo {
  padding-right: 5px;
}
