{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}}{{ partial "menu" .}} {{end}} 

{{ define "main" }}

<section class="hero is-fullheight is-dark">


    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered is-centered">
          <div class="column is-half is-multiline">
            <h1 class="title is-3 has-text-weight-bold">
             {{ .Site.Title }}
            </h1>
            <div class="column has-text-left is-size-6">
            <p>We are a community of people who work with technology and are committed to building a just, democratic and sustainable world. Most of us are people of color, more than half women and a substantial percentage of us are LGBTQ and gender non-conforming.</p>
            <br>
            <p>Many of us identify as <a href="https://outreach.mayfirst.org/techstatement" class="has-text-link">movement technologists</a>, people who bring their political commitment to developing technology and tech capacity for social justice organizations and communities. Some of us consider ourselves movement activists who use technology in our work. But no matter how we choose to describe our relationship to technology, all of us agree that it is time to bring folks like us together in a gathering that reflects our work, our commitment and our culture.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

{{ end }} 

{{ define "footer" }} {{ partial "footer" .}} {{ end }}
