{{ define "title"}} {{ .Title }} {{end}}
{{ define "header"}} {{ partial "menu" .}}{{end}} 

{{ define "main" }}

<section class="hero is-fullheight is-dark">


    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered is-centered">
          <div class="column is-three-fifths is-multiline">
            <h1 class="title is-3 is-spaced">{{ .Title}}</h1>
            <p class="subtitle is-4 has-text-weight-bold is-family-monospace">May 2 & 3 2019</p>
            <p class="subtitle is-5">@ The People's Forum in NYC</p> 
	    <p><a name="signup" class="content is-medium">Please register to confirm your participation.</a></p>
	    <br>
	    <p><a href="https://radicalconnections.ourpowerbase.net/civicrm/event/register?reset=1&id=1" class="button is-warning is-medium">Register Now</a></p>
            <br>
	    <p><a href="#call" class="content is-medium has-text-link">Read more about conference</a></p>
	  </div>
        </div>
      </div>
    </div>
</section>
<section class="section">
  <div class="container">
  <div class="columns is-centered">
    <div class="column is-three-quarters">
    {{ .Content}}
    </div>
  </div>
  </div>
</section>


{{ end }} 

{{ define "footer" }} {{ partial "footer" .}} {{ end }}

