<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.Site.BaseURL | relURL}}">
    <img class="navbar-logo" src="/img/rcnsimple-logo.png" alt="RCN dots connected logo">
    <p class="has-text-light">Radical Connections<span class="is-hidden-mobile"> Network</span></p>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
  <div class="navbar-menu">

  </div>
</nav>
