+++
title = "Movement Technology Conference"
date = "2019-02-14"
description = "May 2 & 3 2019 @ the People's Forum in NYC"
type = "movement-technology-conference"
layout = "landing"
+++


<div class="columns is-vcentered is-centered is-multiline">
  <div class="column is-full has-text-centered">
    <h2 class="title is-3"><a name="call">A gathering made for us and by us.</a></h2>
  </div>  
  <div class="column is-half">
    <p><span class="is-size-4 is-size-6-touch">The <strong>Movement Technology Conference</strong> is organized by the <a href="https://radicalconnections.net">Radical Connections Network</a></span>, a community of people who work with technology and are committed to building a just, democratic and sustainable world. Most of us are people of color, more than half women and a substantial percentage of us are LGBTQ and gender non-conforming.</p>
  </div>
  <div class="column">
    <p>Many of us identify as <a href="https://outreach.mayfirst.org/techstatement">movement technologists</a>, people who bring their political commitment to developing technology and tech capacity for social justice organizations and communities. Some of us consider ourselves movement activists who use technology in our work. But no matter how we choose to describe our relationship to technology, all of us agree that it is time to bring folks like us together in a gathering that reflects our work, our commitment and our culture.</p>
  </div>
</div>  
<div class="columns is-centered"> 
  <div class="column is-10">
    <p class="is-size-4 is-size-5-mobile has-text-weight-semi-bold">As black people and people of color, women, queer and gender non-conforming people, members of indigenous, native and first nations people, immigrants, and other social groups marginalized from technology development our community requires a safe environment; a space where we can be our whole political selves as activists and organizers, but also as techies, hackers, designers and developers.</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-half">
    <p>The Movement Technology Conference will be a forum to talk about technology from a place of inclusiveness and movement politics and a platform for folks like us to share our work and learn from each other about a constantly changing library of technical knowledge.</p> 
  </div>
  <div class="column is-half">
    <p>We invite everyone who identifies with our vision to help participate in structuring and shaping this conference and we expect it to be different from any other. If you are interested in helping shape and build the content for this conference, please reach out to us.<p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-3">
    <a href="#signup" class="button is-link is-medium is-fullwidth">Participate</a>
  </div>
</div>
